CLOUDINARY_URL='cloudinary://EXAMPLE'
RACK_ENV=development
COOKIE_SECRET_TOKEN='EXAMPLE'
DEVISE_SECRET_KEY='EXAMPLE'
AWS_ACCESS_KEY_ID='EXAMPLE''
AWS_SECRET_ACCESS_KEY='EXAMPLE'
TWITTER_CONSUMER_KEY='EXAMPLE'
TWITTER_CONSUMER_SECRET='EXAMPLE'
TWITTER_ACCESS_TOKEN='EXAMPLE'
TWITTER_ACCESS_TOKEN_SECRET='EXAMPLE'
FACEBOOK_APP_ID='EXAMPLE'
FACEBOOK_APP_SECRET='EXAMPLE'
GOOGLE_ANALYTICS_ID=XXXXX
REDISTOGO_URL='redis://localhost:6379/'
TROPO_TOKEN='XXXXX'
TROPO_NUMBERS="EXAMPLE:EXAMPLE:EXAMPLE'
ICECAST_USERNAME='admin'
ICECAST_PASSWORD='EXAMPLE'
