%h1 Listing clusters
%table.table
  %tr.header
    %th Name
    %th Sequence
    %th Color
  - @clusters.each do |cluster|
    %tr
      %td= link_to cluster.name, cluster
      %td= cluster.sequence
      %td= cluster.color.capitalize
%br/
= link_to 'New Cluster', new_cluster_path
