%a{href: new_team_path} Create a new team

%h3 - OR -

%p Enter the token provided by your team-mate to join her team:

= simple_form_for(@join_attempt) do |f|
  = f.error_notification
  .form-inputs
    = f.input :token
  .form-actions
    = f.submit 'Join Team'
