%h2
  Welcome to GIT-A-Clue 2014


.row{style: 'height: 250px'}
  .span-6{style: 'padding-top: 20px;'}
    %h3 GAC is Back! The game begins in
    %div#counter
    %span{style: "padding-left: 110px;"} Days
    %span{style: "padding-left: 80px;"} Hours
    %span{style: "padding-left: 55px;"} Minutes
    %span{style: "padding-left: 55px;"} Seconds
  .span-6
    %ul#clock.med
      /%li#sec
      %li#min
      %li#hour

.row
  .span-12
    %h3 Learn more about GAC
    = link_to page_path('history') do
      %img{class: 'icon-white', src: asset_path('glyphicons/074_cup.png')}
      About
    &nbsp;
    &nbsp;
    = link_to page_path('rules') do
      %img{class: 'icon-white', src: asset_path('glyphicons/071_book.png')}
      Rules
    %br
    %br

.row
  .span-6
    = link_to 'https://www.facebook.com/GitAClue2014' do
      = image_tag 'facebook-f-512.png', size: '25x25'
      Like us on Facebook to get the latest
  .span-6
    %div{class: "fb-like-box", :"data-href" => "https://www.facebook.com/GitAClue2014", :"data-width" => 292, :"data-height" => 225, :"data-show-faces" => "true", :"data-header" => "true", :"data-stream" => false, :"data-show-border" => "true"}
