%h2
  Welcome to GIT-A-Clue 2014


.row{style: 'height: 250px'}
  .span-6{style: 'padding-top: 20px;'}
    %h3 GAC is Back! The game begins in
    %div#counter
    %span{style: "padding-left: 110px;"} Days
    %span{style: "padding-left: 80px;"} Hours
    %span{style: "padding-left: 55px;"} Minutes
    %span{style: "padding-left: 55px;"} Seconds
  .span-6
    %ul#clock.med
      /%li#sec
      %li#min
      %li#hour
