%h1 Contacting Game Control
%p
  For any game-day questions regarding puzzles, call:
%h3 +1-678-384-4464

%h3 2014 Game Control
%ul
  %li Alicia Cardillo
  %li Ben Klang
  %li Peter Cardillo
  %li Drumbabe Klang
  %li George P. Burdell
  %li Adam Walding
  %li Kazz Neal
  %li Will Drexler
  %li Lightfeather Klang
  %li Marianna Kinnee

= link_to 'https://www.facebook.com/GetAClue2014', class: 'provider_login_button facebook', style: 'width: 275px; height: 30px' do
  = image_tag 'facebook-f-25.png', size: '25x25'
  Game Control on Facebook
%br
= link_to "https://twitter.com/GetAClue2014", class: 'provider_login_button twitter', style: 'width: 275px' do
  = image_tag 'twitter-logo-25.png', size: '25x25'
  Follow @GetAClue2014
