%h1 What is Get-a-Clue?

%p{class: 'intro-text'}
  Get a Clue is an Atlanta-wide scavenger hunt affiliated with the Georgia Tech Band. During the event, teams race to solve complicated, geeky clues throughout the day leading to the final clue, which reveals the location of the End of Game Party. The team that makes it to The Party in the shortest amount of time (after accounting for any time penalties incurred) is declared the winner and must coordinate next year's Get A Clue. The team in second place is then dubbed The Real Winners.

%h3 Frequently Asked Questions

%h4
  How much does it cost?
%p
  See
  = link_to 'Payments', page_path('payments')
  for information on costs and how to pay for your team.

%h4 How does the game work?
%p
  %a{href: 'http://rogue42.net/GAC_2011'} Get-a-Clue 2011's Game Control
  put together these 5 Public Service Announcements which explain the game further (click on "Playlist" in the video below to see the rest):

- youtube_embed "PLsfQofn4hfFPlIaUD5E983j1taFCpSOs2", type: :playlist
