%h2 Payments

%p
  Your entrance fee covers the entire team. All teams must pay the entrance fee prior to starting the game.  Early payments are discounted!

%h4 $50 - If paid by January 31, 2014
%h4 $60 - If paid by February 28, 2014
%h4 $70 - If paid by March 31, 2014
%h4 $80 - Paid on or after April 1, 2014

%h3 How to pay?

%p
  You may send payments via Paypal to k@drumbabe.com
  To arrange alternate payments (cash, check, no credit cards), email k@drumbabe.com
