%h1 GAC 2014 Required and Recommended Items

%p Game Control publishes this list of items that will be useful in solving the puzzles during the game.  Some puzzles will rely on you (or someone on your team) having an item from the REQUIRED list.  Some puzzles will be significantly easier if you have an item from the RECOMMENDED list.

%p Game Control will not entertain any whining due to failure to pay attention to these lists.

%h3 Required Items
%ul
  %li One flashlight for every team member (recommend a Mag-Light)
  %li Compass (many smart phones have this as an app)
  %li Device for GPS coordinates, such as Google Maps
  %li App for measuring distance (or the ability to march a standard 8 to 5 pace)
  %li Minimum two mobile phones per team that can make and receive phone calls and has internet access for checking in
  %li QR Reader app
  %li Sharpie
  %li Graph Paper

%h3 Recommended Items
%ul
  %li Those mobile phones? We recommend one that has a speaker - this way the entire team can listen when Game Control shares those oh-so-necessary pearls of wisdom
  %li A car charger for those mobile phones
  %li Straight knitting needles, size US 8
  %li 2 skeins of worsted yarn; 2 different colors 
  %li Marching Band Shoes
  %li Physics book
  %li Chemistry book
  %li Scissors
  %li Instrument and sight reading skills
