%h2 Team Composition

%h3 Team Size
%p
  Teams are limited to the number of seatbelts in the team vehicle.  Teams are limited to one vehicle.

%h3 Use the Buddy System
%p
  All members of a team must stay together. You may, of course, split up and run around like idiots upon reaching a clue site to find the clue packet, but you must travel as a group from clue site to clue site. Unless specifically directed by Game Control, splitting into two groups to go to different sites is not allowed.

%h2 Game Mechanics

%h3 Checking In
%p
  A team is considered "checked in" when they have loaded the checkin URL. This URL will typically be found in the form of a QR code at each location. The official time used for all checkins and scoring purposes will be the time of the Game Control server.

%h3 Getting Help
%p
  If a team gets stuck, they may call Game Control for assistance.  Assistance may be granted or denied at Game Control's discretion.  In exchange for assistance, teams may be required to take a penalty, the amount of which will be disclosed before assistance is granted.

%h3 Winning GIT-A-Clue
%p
  The Winners will be the team that completes the most puzzles before the game ends. If the event of a tie, or if more than one team completes all the puzzles, the team with the lowest overall time (penalties inclusive) will be deemed the Winner.  The prize for winning will be the responsibility of running Game Control for GIT-A-Clue 2015. Failure to run GIT-A-Clue after Winning shall be considered treason.

%p
  The team that finishes in second position will be considered The Real Winners, and will be congratulated by all.

%h2 General Provisions

%h3 Legal Entanglements
%p
  Moving violations result in a 2-hour penalty per violation. Arrests result in disqualification.  If a team has an unfortunate run-in with the Law Enforcement community, they may call and notify Game Control. Teams not at fault for the run-in will be taken off the clock for the length of time it takes to convince Johnny Law that “No, Tech students in a van are not terrorists.” Teams at fault for their run-ins (through tickets, accidents, speeding, vandalism or sheer stupidity) will not be removed from the clock. You did the crime, you pay the time. 

%h3 Pranks
%p
  Teams may prank other teams throughout the day. This can be in any creative form, including but not limited to, yelling, taunting, and leaving notes on windshields. Game Control urges that pranksters use common courtesy. If you are unacquainted with the team you intend to prank, do not attempt said prank. Pranks should be limited to friends whom you are certain will find said prank amusing. Do not prank clue packets in any way. This will result in punishment by Game Control based on the outlined rules regarding packets. Do not prank a team in regards to law enforcement. Any team found pranking another team with law enforcement will be summarily disqualified. There are no appeals. This would include, but is not limited to, calling the police on another team, leaving notes that resemble tickets, or yelling anything regarding terrorism. The exception to this rule would be calling the police in the event of an accident or emergency regardless of team involvements. If you are involved in or witness an accident or crime involving another team please call the authorities and notify Game Control immediately.

%h3 Don't Ruin It For Others: Think of the Children
%p
  We have had some concerns from the owners and managers who gave us permission to use their property as clue sites, and we will address those concerns here. Do NOT Enter a place of business unless you plan to do business, purchase goods, or procure services there. The staff at these locations may not necessarily know anything about the game, and won't be able to help you. Additionally, Do NOT Disturb plantings or landscaping unnecessarily. Whenever possible, we have tried to put the clue packet in areas close to marked paths, roadways, and sidewalks. Do not go tromping through flowerbeds, since we do not want to piss off any of the nice people who let us use their property. We hate to sound like sticklers, but we are trying to accommodate and allay the very reasonable fears of clue site owners. Remember, if you have any doubts, you should call Game Control before entering anything that looks like private property.

%h3 Excuses
%p
  There are no excuses. Whining is Treason.

%h3 Final Authority
%p
  Game Control may penalize any team at any time for any reason, up to and including disqualification. Don’t be stupid.
