%html
  %head
    %meta{:content => 'text/html; charset=UTF-8', :'http-equiv' => 'Content-Type'}
  %body
    %h1
      A player has just joined your team!
    %p
      = @joining_player.name
      has just joined team
      = @team.name
      \.
    %p
      = link_to "View your full team roster", team_url(@team)
    %p
      See you in the game!
