%h1 Listing players
%table.table
  %tr
    %th Name
    %th Email
    %th Team
  - @players.each do |player|
    %tr
      %td
        = link_to player.name, player
      - if can? :edit, player
        %td= player.email
      - else
        %td
          %span{style: 'font-style: italic'}
            hidden
      %td
        %a{href: "/teams/#{player.team_id}"}
          = player.team_name
