%h1 Listing redirects
%table.table
  %thead
    %tr.header
      %th{'data-sort' => 'string'} Name
      %th{'data-sort' => 'string'} Token
      %th{'data-sort' => 'string'} Destination URL
  %tbody
    - @redirects.each do |redirect|
      %tr
        %td= link_to redirect.name, edit_redirect_path(redirect)
        %td= link_to redirect.token, edit_redirect_path(redirect)
        %td= link_to redirect.destination_url, redirect.destination_url
%br/
= link_to 'New Redirect', new_redirect_path
