%h1 Listing penalties
- if can? :manage, Penalty
  %br/
  = link_to 'New Penalty', new_penalty_path
= render partial: 'list'
- if can? :manage, Penalty
  %br/
  = link_to 'New Penalty', new_penalty_path
