/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
@import "bootstrap";
@import "bootstrap-responsive";

$facebook_blue: #3c599b;
$twitter_blue: #00aced;
$nav_top: #fffcf0;
$nav_bot: #ffd852;
$nav_dark: #e7bb3f;
$nav_admin_top: #fff0d0;
$nav_admin_bot: #f99;
$gac_font:  "Michroma", Arial, Helvetica, Sans-Serif;

body {
  font-family: $gac_font;
  background-color: #fff;
  color: #333;
  font-size: 13px;
  line-height: 18px;
  padding-top: 60px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
  &:visited {
    color: #666;
  }
  &:hover {
    color: #fff;
    background-color: #000;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

.navbar-inner {
  background-image: linear-gradient(to bottom, $nav_top, $nav_bot);
}

#logo {
  height: 41px;
  width: 41px;
}

.navbar {
  .brand {
    padding: 0 20px;
    margin: 0;
    color: #000;
  }

  .nav li {
    background-image: linear-gradient(to bottom, $nav_top, $nav_dark);
    margin: 0 3px;
    border: 1px solid $nav_dark;
    a {
      color: #000;
    }
  }
  .nav li.admin-only {
    background-image: linear-gradient(to bottom, $nav_admin_top, $nav_admin_bot);
  }
}

#counter .cntSeparator {
  font-size: 54px;
  margin: 20px 7px;
}

.callout {
  background-color: whitesmoke;
  border-radius: 5px;
}

.callout p {
  margin: 15px;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}

#clock {
  position: relative;
  width: 600px;
  height: 600px;
  margin: 20px auto 0 auto;
  background: url(asset-path("clockface.png", "image"));
  list-style: none;

  #sec {
    background: url(asset-path("clock-sec.png", "image"));
    z-index: 3;
  }

  #min {
    background: url(asset-path("clock-min.png", "image"));
    z-index: 2;
  }

  #hour {
    background: url(asset-path("clock-hour.png", "image"));
    z-index: 1;
  }

  #sec, #min, #hour {
    position: absolute;
    width: 30px;
    height: 600px;
    top: 0px;
    left: 285px;
    background-repeat: no-repeat;
  }
}

#clock.med {
  width: 200px;
  height: 200px;
  background-size: 200px 200px;
  #sec, #min, #hour {
    left: 95px;
    width: 10px;
    height: 200px;
    background-size: 10px 200px;
  }
}

#clock.small {
  width: 100px;
  height: 100px;
  background-size: 100px 100px;
  #sec, #min, #hour {
    left: 48px;
    width: 5px;
    height: 100px;
    background-size: 5px 100px;
  }
}
