/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
@import "bootstrap";
body { padding-top: 60px; } // Positioning of nav, responsively
@import "bootstrap-responsive";

@mixin rounded($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  -o-border-radius: $radius;
  border-radius: $radius;
}

@mixin rounded_corner($vert, $horiz, $radius) {
  -webkit-border-#{$vert}-#{$horiz}-radius: $radius;
  -moz-border-#{$vert}-#{$horiz}-radius: $radius;
  -ms-border-#{$vert}-#{$horiz}-radius: $radius;
  -o-border-#{$vert}-#{$horiz}-radius: $radius;
  border-#{$vert}-#{$horiz}-radius: $radius;
}

@mixin background_gradient($direction, $start, $end) {
  background-image: -webkit-linear-gradient($direction,$start,$end);
  background-image: -moz-linear-gradient($direction,$start,$end);
  background-image: -ms-linear-gradient($direction,$start,$end);
  background-image: -o-linear-gradient($direction,$start,$end);
  background-image: linear-gradient($direction,$start,$end);
}

@mixin pretend_link {
  text-decoration: underline;
  cursor: pointer;
  span:hover {
    text-decoration: underline;
    background-color: #000;
    color: #fff;
  }
}

$facebook_blue: #3c599b;
$twitter_blue: #00aced;
$nav_top: #fffcf0;
$nav_bot: #ffd852;
$nav_dark: #e7bb3f;
$nav_admin_top: #fff0d0;
$nav_admin_bot: #f99;
$gac_font:  "Michroma", Arial, Helvetica, Sans-Serif;
$highlight: #7AAFEA;
$lowlight: #5a0000;
$background: #ee983e;
$outline: #f5b447;
$bright: #e9ea61;

body {
  font-family: $gac_font;
  background-color: #fff;
  color: #333;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
  text-decoration: underline;
  &:visited {
    color: #666;
  }
  &:hover {
    color: #fff;
    background-color: #000;
  }
}

a.btn {
  text-decoration: none;
  vertical-align: top;
  font-size: 10px;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

h1 { font-size: 2em; }
h2 { font-size: 1.7em; }
h3 { font-size: 1.5em; }
h4 { font-size: 1.3em; }
h5 { font-size: 1.2em; }
h6 { font-size: 1.1em; }

.navbar-inner {
  @include background_gradient(to bottom, $nav_top, $nav_bot);
}

#logo {
  height: 41px;
  width: 41px;
}

img.navicon {
  max-height: 16px;
  max-width: 16px;
}

.navbar {
  .brand {
    padding: 0 20px;
    margin: 0;
    color: #000;
  }

  a {
    text-decoration: none;
  }

  .nav li {
    @include background_gradient(to bottom, $nav_top, $nav_dark);
    margin: 0 3px;
    border: 1px solid $nav_dark;
    a {
      color: #000;
    }
  }
  .nav li.admin-only {
    @include background_gradient(to bottom, $nav_admin_top, $nav_admin_bot);
  }
}

.column {
  border: 1px solid #ccc;
  @include rounded(5px);
  padding: 5px;
}

.box {
  $radius: 5px;
  @include rounded($radius);
  border: 1px solid #ccc;
  margin: 5px;
  padding: 5px;

  .box-header {
    @include rounded_corner(top, left, $radius);
    @include rounded_corner(top, right, $radius);
    @include background_gradient(to bottom, $nav_top, $nav_bot);
    padding: 5px;
    .title {
      // FONT SELECTION HERE
    }
  }

  .box-content {

  }

}

.scrollable {
  overflow: auto;
}

.ico-round {
  border-radius: 9999px;
}

.blue {
  @include background_gradient(to bottom, #a5cae1, #7fb3d4)
}

.provider_login_button {
  width: 200px;
  height: 25px;
  color: #fff;
  border-radius: 5px;
  display: block;
  margin-top: 15px;
  padding-left: 2px;
  line-height: 1.8em;
  .logo {
    height: 25px;
    width: 25px;
    float: left;
    background-size: 25px 25px;
    margin: 0 5px;
  }
}

.provider_login_button.facebook {
  background-color: $facebook_blue;
  &:visited { color: #fff }
  .logo {
    background-image: url(asset-path('facebook-f-25.png'));
  }
}

.provider_login_button.twitter {
  background-color: $twitter_blue;
  &:visited { color: #fff }
  .logo {
    background-image: url(asset-path('twitter-logo-25.png'));
  }
}


#counter .cntSeparator {
  font-size: 54px;
  margin: 20px 7px;
}

.callout {
  background-color: whitesmoke;
  border-radius: 5px;
}

.callout p {
  margin: 15px;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}

#clock {
  position: relative;
  width: 600px;
  height: 600px;
  margin: 20px auto 0 auto;
  background: url(asset-path("clockface.png"));
  list-style: none;

  #sec {
    background: url(asset-path("clock-sec.png"));
    z-index: 3;
  }

  #min {
    background: url(asset-path("clock-min.png"));
    z-index: 2;
  }

  #hour {
    background: url(asset-path("clock-hour.png"));
    z-index: 1;
  }

  #sec, #min, #hour {
    position: absolute;
    width: 30px;
    height: 600px;
    top: 0px;
    left: 285px;
    background-repeat: no-repeat;
  }
}

#clock.med {
  width: 200px;
  height: 200px;
  background-size: 200px 200px;
  background: url(asset-path("clockface-med.png"));
  #sec { background: url(asset-path("clock-sec-med.png")); }
  #min { background: url(asset-path("clock-min-med.png")); }
  #hour { background: url(asset-path("clock-hour-med.png")); }
  #sec, #min, #hour {
    left: 95px;
    width: 10px;
    height: 200px;
    background-size: 10px 200px;
  }
}

#clock.small {
  width: 100px;
  height: 100px;
  background-size: 100px 100px;
  #sec, #min, #hour {
    left: 48px;
    width: 5px;
    height: 100px;
    background-size: 5px 100px;
  }
}

.create {
  @include background_gradient(to bottom, #efe, #dfd);
}
.update {
  @include background_gradient(to bottom, #eef, #ddf);
}
.delete {
  @include background_gradient(to bottom, #fee, #fdd);
}


.event_log {
  width: 350px;
  height: 300px;
  background-color: #999;
  .item {
    padding: 3px;
    margin-bottom: 1px;
    div.location {
      background-image: url(asset-path("glyphicons/060_compass.png"));
      background-size: 14px;
      background-repeat: no-repeat;
      float: left;
      padding: 5px;
    }
  }
  .timeago {
    font-size: 0.85em;
    font-family: Serif;
  }
}

.rules {
  h3 { padding-left: 10px; }
  p { padding-left: 20px; }
}

.intro-text {
  font-family: $gac_font;
  font-size: 1.2em;
  line-height: 1.5em;
}

.alert-error {
  font-weight: bold;
}

.show_modal {
  @include pretend_link;
}

input, select {
  width: inherit;
}

.button_controlled_box {
  border: 1px solid #999;
  padding: 15px;
}
.dropdown-backdrop{
    position: static;
}

.highlighted {
  @include background_gradient(to bottom, $nav_top, $nav_bot);
}

#show_player {
  @include pretend_link;
}

.gchq_dashboard {
  .content, .content .row-fluid, .content .row-fluid div[class*=span] {
    height: 100%;
    overflow: hidden;
  }

  .span3 { width: 25% }
  .span9 { width: 75% }

  font-size: 1.3em;
  line-height: 1.5em;
  width: 100%;
  //width: 1920px;
  height: 100%;
  .box { width: 98% }
  text-align: center;
  .row-fluid [class*="span"] {
    margin: 0;
  }

  .title {
    @include background_gradient(to bottom, $nav_top, $nav_bot);
  }

  .map_container, .gmaps4rails_map {
    height: 100%;
    padding: 0;
    margin: 0;
    width: 100%;
    border: 0;
    #map { height: 100%; }
  }

  .block-wrapper {
    height: 75px;
    display: table;

    .block-of-2 {
      display: table-cell;
      vertical-align: middle;
      width: 50%;
    }

    .block-of-3 {
      display: table-cell;
      vertical-align: middle;
      width: 33%;
    }
  }

  .white {
    color: #fff;
  }

  #leaderboard_dash {
    height: 100%;
    background-color: $outline;
    .leaderboard {
      background-color: $lowlight;
      color: $outline;
      font-weight: bold;
      font-size: 1.3em;
      td { font-size: 1.0em; }
    }
  }

  #title_bar {
    height: 10%;

    #clock_dash {
      position: relative;
      @include background_gradient(to bottom, #ccc, #666);
      #game_clock {
        padding-top: 5px;
        height: 60%;
      }
    }
  }

  #dash_contents {
    height: 90%;

    #map_dash {
      height: 60%;
    }

    #radio_gac_dash {
      background-color: $highlight;
      color: #fff;
      height: 12%;
    }

    #bottom_row_dash {
      height: 28%;
    }

    .statsbox {
      text-align: justify;
      td {
        font-family: $gac_font;
        font-size: 1.2em;
      }
      h5 { text-align: center }
    }

    #puzzle_stats_dash {
      background-color: $bright;
      height: 100%;
      width: 33%;
    }
    #checkin_stats_dash {
      background-color: $background;
      height: 100%;
      width: 34%;
    }
    #penalty_stats_dash {
      background-color: $nav_dark;
      height: 100%;
      width: 33%;
    }
  }
}
