%h2 You are checked in!
%p
  Congratulations! You are checked in to
  = succeed '.' do
    = @checkin.location_name

= render 'checkins/current_puzzle_info', locals: {puzzle: checkin.next_puzzle, heading: heading, distance: distance }


%p Details on your next puzzle have also been sent to your email.
