%h1 Listing puzzles
%table.table
  %tr
    %th Name
    %th Destination
  - @puzzles.each do |puzzle|
    %tr
      %td= link_to puzzle.name, puzzle
      %td= link_to puzzle.location_name, puzzle.location

%br/
= link_to 'New Puzzle', new_puzzle_path
